<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
<header th:fragment="header">
    <h1 th:text="${titulo}"></h1>

    <a th:href="@{/listar}">Listado</a>
    <a th:href="@{/form}">Agregar cliente</a>

    <div style="color:blue" th:if="${success != null}" th:text="${success}"></div>
    <div style="color:red" th:if="${errors != null}" th:text="${errors}"></div>
    <div style="color:green" th:if="${info != null}" th:text="${info}"></div>
</header>

<footer th:fragment="footer">
Test
</footer>
</body>
</html>